<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>500 Error</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

		
	    <!-- Code Highlighting from highlight.js
	    Is there a cleaner way? -->
	    <link rel="stylesheet"
	      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<script>c = document.querySelectorAll('code');for(i = 0; i < c.length; i++){var code = c[i].innerText;c[i].innerHTML = hljs.highlight('python', code).value;}</script>

	</head>

	<body>
		<div class=container>
			<h1>Sorry.</h1>
			<p>Something's broken.</p>
			<pre>
				<code class="python">
					#!/usr/bin/env python3
					print 1 / 0
				</code>
			</pre>
		</div>

	</body>

</html>
