<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	    <!-- Favicon -->
	    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>


	<body>
		<div class="container">
				<h3>{% block subtitle %}{% endblock %}</h3>
				<h6 class="source">{% block source %}{% endblock %}</h6>
				<p>{% block words %}{% endblock %}</p>
		</div>
	</body>
</html>
